<h1>About</h1>
<p>

	<%= link_to "Onemonth Rails", "http://onemonthrails.com" %>
	is a project to teach
	<%= link_to "Ruby on Rails", "http://rubyonrails.org" %>
	in One Month. This is a sample application.
</p>
